title PinTravel
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/login.css')
link(rel='stylesheet', href='/stylesheets/smoke.css')
link(rel='stylesheet', href='/stylesheets/100s.css')
link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Caesar+Dressing',rel='stylesheet',type='text/css')
script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places')
script(type='text/javascript')
    var mapa;
    function initialize() {

        var mapOptions = {
            center: new google.maps.LatLng(41.38, 2.18),
            zoom: 3,
            mapTypeId: google.maps.MapTypeId.TERRAIN ,
            mapTypeControl: false,
            zoomControl: true,
            zoomControlOptions: {
                position: google.maps.ControlPosition.RIGHT_CENTER
            },
            panControl: false,
            streetViewControl: false
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);

        sessionStorage.numPins = emplenaMarkersUsuari(map);

        var input = document.getElementById('gf');
        var options = {types: ['(cities)']}
        var autocomplete = new google.maps.places.Autocomplete(input,options);

        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
          map: map
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }
            var image = new google.maps.MarkerImage(
                place.icon, new google.maps.Size(71, 71),
                new google.maps.Point(0, 0), new google.maps.Point(17, 34),
                new google.maps.Size(35, 35));
            marker.setIcon(image);
            marker.setPosition(place.geometry.location);

           /* infowindow.setContent(place.formatted_address);
            infowindow.open(map, marker);*/
            emplenaInformacioLloc(place);

        });
        var maptype = document.getElementById("maptype");
        maptype.onclick = function(){changeMapType(map);};
        mapa = map;
    }
    google.maps.event.addDomListener(window, 'load', initialize);
script(src="http://code.jquery.com/jquery-1.9.1.min.js")
script(src="http://code.jquery.com/ui/1.10.2/jquery-ui.js")
script(src="/javascripts/smoke.min.js")
script(src="/javascripts/scripts.js")
script(src="/javascripts/jquery.ddslick.min.js")
link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-darkness/jquery-ui.css",type="text/css",rel="stylesheet")