#header
    a(href='',style='float:left')
        img(src='images/pin.png', alt='PinTravel', width='48px')
    h1#main-title= username
    h3#sign-in
        a(href='logout',style='cursor:pointer') Sign out