#header
    a(href='',style='float:left')
        img(src='images/pin.png', alt='PinTravel', width='48px')
    h1#main-title
        a(href='') PinTravel
    h3#sign-in
        a(style='cursor:pointer') Sign in