form
    fieldset
        label(style='margin-right:20px') User Name
        input(type='text', name='username', placeholder='Your Username', autofocus='autofocus', required='required') text
        br
        label(style='margin-right:20px') E-mail
        input(type='email', name='email', placeholder='Your Email', autofocus='autofocus') text
        br
        label(style='margin-right:20px') Password
        input(type='password', name='pass', placeholder='Your Password', autofocus='autofocus') text
        br
        label(style='margin-right:20px') Repeat your Password
        input(type='password', name='passmatch', placeholder='Repeat your Password', autofocus='autofocus') text
        br
        input(type='submit', value='Sign up!')