#divYeah
    #settings-widget
        div(style="font-size:28px;font-family: 'Caesar Dressing';color:white;")
            span ADD PIN
        div
            input#gf(type="text", size="50", placeholder="Select the city to pin")
            div#cityData(style=" margin:15px; display:none;")
                div(class="coord",style="display:none;")
                    label(class="coordenates") Coordenates:
                    label(id="coordenatesName")
                div(class="to",style="display:none;")
                    label(class="town") Town:
                    label(id="townName")
                div(class="ci" ,style="display:none;")
                    label(class="city") City:
                    label(id="cityName")
                div(class="co" ,style="display:none;")
                    label(class="country") Country:
                    label(id="countryName")
                div(class="buttons", style="margin-top:32px; display:none; text-align:center;")
                    img#addpin(type="button" ,src="../images/addpin.png", style="cursor:pointer;" , title="Add Pin",onclick="addPin()")
    #searchPins
        div(style="font-size:28px;font-family: 'Caesar Dressing';color:white;")
            span FIND PINS
        div#dropDown
            div#myDropdown

    div(id="formlabel", class="formlabelshow", style="display:none;", onclick="hideForm()")
    #map_canvas
