#divYeah
    #settings-widget
        div(style="font-size:28px;font-family: 'Caesar Dressing';color:white;")
            span ADD PIN
        div
            input#gf(id="textciutat" ,type="text", size="50", placeholder="Select the city to pin")
            div#cityData(style=" margin:15px; display:none;")
                div(class="coord",style="display:none;")
                    label(class="coordenates") Coordenates:
                    div#coordenatesName
                        label(id="lat")
                        label(id="lng")
                div(class="to",style="display:none;")
                    label(class="town") Town:
                    label(id="townName")
                div(class="ci" ,style="display:none;")
                    label(class="city") City:
                    label(id="cityName")
                div(class="co" ,style="display:none;")
                    label(class="country") Country:
                    label(id="countryName")
                div(class="buttons", style="margin-top:32px; display:none; text-align:center;")
                    img#addpin(type="button" ,src="../images/addpin.png", style="cursor:pointer;" , title="Add Pin",onclick="addPin()")
    #searchPins
        div(style="font-size:28px;font-family: 'Caesar Dressing';color:white;")
            span YOUR PINS
        div#dropDown
            div#myDropdown
        div(class="photoAlbum" ,style="margin-left:15px; margin-top:32px; display:none;")
            label(class="normalText") Photos in this album:
            label(id="photoQuantity")
            img#openphotos(style="cursor:pointer;")
        div(class="buttons", style=" margin-top:32px; display:none; text-align:center;")
            img(type="button" ,src="../images/deletepin.png", style="cursor:pointer;" , title="Delete Pin",onclick="deletePin()",id="deletePin")
        div#dialog(title="Basic dialog")
            div.gallery
                a(href="images/fullscreen/2.jpg", rel="prettyPhoto", style="margin-right:5px;", title="This is the description")
                    img(src="images/thumbnails/t_2.jpg", width="60", height="60",alt="This is the title")
                a(href="images/fullscreen/2.jpg", rel="prettyPhoto", style="margin-right:5px;", title="This is the description")
                    img(src="images/thumbnails/t_2.jpg", width="60", height="60",alt="This is the title")
                a(href="images/fullscreen/2.jpg", rel="prettyPhoto", style="margin-right:5px;", title="This is the description")
                    img(src="images/thumbnails/t_2.jpg", width="60", height="60",alt="This is the title")
                a(href="images/fullscreen/2.jpg", rel="prettyPhoto", style="margin-right:5px;", title="This is the description")
                    img(src="images/thumbnails/t_2.jpg", width="60", height="60",alt="This is the title")
    #viewFriends
        div(style="font-size:28px;font-family: 'Caesar Dressing';color:white;")
            span#pintravelUsersNumber friends
        div#friendsList(style="margin-left: 32px;")
            div.ui-widget(style="margin-bottom:32px;")
                label(for="friendsSearch", style="font-size:16px;font-family: 'Caesar Dressing';color:white; vertical-align: middle;") Search in pintravel users list:
                input#friendsSearch(autofocus="autofocus")
                img(src="images/searchlupe.gif", style="vertical-align:middle; cursor:pointer;", onclick="showUserInfo($('#friendsSearch').val())")
            div#friendsPinsInformation(style="display:none")
    div(id="formlabel", class="formlabelshow", style="display:none;", onclick="hideForm()")
    #map_canvas


script
    $('.fancybox').fancybox();