#footer
    .user-tools
        a#add-pin(title='Add a new Pin',onclick="openCloseAddCity()")
        a#search(title='Search a Pin',onclick="openCloseSearchPins()")
        a#friends(title='My friends',onclick="openCloseViewFriends()")
        a#photos(title='My albums')
    .user-tools(style="float:right")
        a#maptype(title='Map type', style='cursor:pointer;')
